/* Phones */
@media only screen and (min-width: 0px) and (max-width: 600px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: $fs-md $fs-lg;
    background-color: red;

    .nav-list {
      display: none;
    }
  }

  .section1 {
    padding: $space-sm;
  }
}